@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700;6..12,900&display=swap');
/*start common styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

html {
    font-size: 60%;
}

/*end common styles */


/* start nav */

.navbar {
    width: 100%;
    height: 1vh;
    background-color: #000;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.3rem 0.3rem #000;
    overflow: hidden;
    transition:0.5s;
}

.navbar.change {
    height: 18vh;
    transition:0.5s 0.4s;
}

.navbar .nav-link {
    color: #aaa;
    margin: 0 3rem;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: color 0.5s;
    opacity: 0;
}

.change .nav-link:nth-child(1){
    opacity: 1;
    transition:opacity 1s 0.1s;
}

.change .nav-link:nth-child(2){
    opacity: 1;
    transition:opacity 1s 0.4s;
}

.change .nav-link:nth-child(3){
    opacity: 1;
    transition:opacity 1s 0.5s ;
}

.change .nav-link:nth-child(4){
    opacity: 1;
    transition:opacity 1s 0.7s;
}


.navbar .nav-link:hover {
    color: white;
    transform: translateY(-1rem);
    transition: 1s;
}

.navbar .nav-link i {
    font-size: 6rem;
}

.navbar .nav-link span {
    font-weight: 900;
    text-transform: capitalize;
}

.menu {
    width: 4rem;
    height: 5rem;
    background-color: #000;
    position: fixed;
    top: 2rem;
    left: 2rem;
    border-radius: 5rem 5rem 2rem 2rem;
    transition: top 0.5s 0.3s;
}

.menu.change {
    top: 18rem;
    transition: top 0.5s;
}

.menu::before {
    content: "";
    width: 0.3rem;
    height: 20rem;
    background-color: #000;
    position: absolute;
    top: -20rem;
    left: calc(50% - 0.2rem);

}


/* end nav */



/* start slider */

.foods-slider {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.foods-slider .section-heading {
    font-size: 8rem;
    color: white;
    letter-spacing: .5rem;
    font-weight: 900;
    text-transform: capitalize;
    text-shadow: .3rem .3rem .3rem #000;
}

.foods-slider .foods-icons {}

.foods-slider .foods-icons i {
    font-size: 20rem;
    color: #a79a2d;
    position: absolute;
    transform: scale(0);
    transition: .5s;
}

.foods-slider .foods-icons i.active {
    transform: translate(-50%, -50%) scale(1);
    text-shadow: 0.5rem 0.5rem 0.5rem #000;
}

/* end slider */

/*start order section */

.order-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222;
}

.order-section .cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.order-section .section-heading {
    font-size: 8rem;
    color: white;
    letter-spacing: .5rem;
    font-weight: 900;
    text-transform: capitalize;
    text-shadow: .3rem .3rem .3rem #000;
}

.cards-container .card {
    width: 16%;
    background-color: #a79a2d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 22px;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(22deg) skewX(-4deg);
    transition: .5s;
}

.cards-container .card:hover {
    transform: rotateY(22deg) skewX(-4deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}

.cards-container .card::before {
    content: '';
    width: 0.8rem;
    height: 100%;
    background-color: #817824;
    position: absolute;
    top: 0px;
    left: -0.8rem;
    transform: skewY(26deg);
    transform-origin: right;
    box-shadow: -0.2rem -0.2rem 0.5rem #000;
}

.cards-container .card::after {
    content: '';
    width: 100%;
    height: 0.8rem;
    background-color: #8f8317;
    position: absolute;
    left: 0px;
    top: -0.8rem;
    transform: skewX(53deg);
    transform-origin: bottom;
    box-shadow: -0.2rem -0.2rem 0.5rem #000;
}

.cards-container .card .card-img {
    width: 100%;
}

.cards-container .card .card-title {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: .5rem;
    text-transform: uppercase;
    margin: 2rem 0;
    text-shadow: 0.15rem 0.15rem 0.15rem #000;
}

.cards-container .card .card-order {
    border: none;
    width: 80%;
    background-color: #111;
    color: #888;
    font-size: 1.5rem;
    border-radius: 5rem;
    cursor: pointer;
    text-transform: capitalize;
    padding: 0.3rem 0;
    box-shadow: -0.2rem -0.2rem 0.2rem #000;
}

/*end order section */

/* start gallery */

.gallery {
    background-color: #333;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gallery .section-heading {
    font-size: 8rem;
    color: white;
    letter-spacing: .5rem;
    font-weight: 900;
    text-transform: capitalize;
    text-shadow: .3rem .3rem .3rem #000;
    transform: rotateX(50deg);

}

.gallery .images-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gallery .images-gallery .order-link {
    position: relative;
}

.gallery .images-gallery .order-link::before {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 0%;
    background-color: #fff;
    top: 3rem;
    left: 80%;
    transition: 1s;
}

.gallery .images-gallery .order-link:hover::before {
    height: 80%;
    z-index: 2;
}


.gallery .images-gallery .order-link::after {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 0;
    background-color: #fff;
    top: 8rem;
    left: 1rem;
    transition: 1s;
}

.gallery .images-gallery .order-link:hover::after {
    width: 91%;
    z-index: 2;
}


.gallery .images-gallery .order-link .food-title {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 700;
    color: white;
    width: 0px;
    overflow: hidden;
    transition: 1s 0.5s;
}

.gallery .images-gallery .order-link:hover .food-title {
    width: 100%;
    z-index: 2;
}


.gallery .images-gallery .order-link .food-desc {
    position: absolute;
    bottom: 6rem;
    left: 3rem;
    width: 70%;
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
    transition: 1s 1s;
}

.gallery .images-gallery .order-link:hover .food-desc {
    opacity: 1;
    z-index: 2;
}

.gallery .images-gallery .order-link .food-image {
    width: 40rem;
    height: 27rem;
    margin: 2rem 0;
    box-shadow: 0.3rem 0.3rem 0.3rem #e92929, 0.5rem 0.5rem 0.3rem #a2e946, 0.9rem 0.9rem 0.3rem #297ce9;
    transition: 1s;
}

.gallery .images-gallery .order-link:hover .food-image {
    position: relative;
    box-shadow: 0.3rem 0.3rem 0.3rem #e92929, 1rem 1rem 0.3rem #a2e946, 2rem 2rem 0.3rem #297ce9;

    filter: blur(0.5rem);
    transform: skewX(-4deg);
    z-index: 1;
}

/* end gallery */


/* start footer */

.footer {
    width: 100%;
    height: 30vh;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
    position: relative;
}

.footer .desc-section {}

.footer .desc-section .form-title {
    color: #a79a2d;
    font-size: 4rem;
    font-weight: 900;
    text-transform: capitalize;
}

.footer .desc-section .desc {
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.footer .form {}

.footer .form .input-email {
    height: 4rem;
    width: 30rem;
    color: #a79a2d;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer .form .input-email::placeholder {
    font-size: 1.5rem;
    color: #a79a2d;
    font-weight: bold;
}


.footer .form .input-email:focus {
    outline: none;
}

.footer .form .submit-btn {
    position: relative;
    left: -4.2rem;
    background-color: #333;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    color: #a79a2d;
}

.footer .copy-right {
    position: absolute;
    bottom: 0.5rem;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* end footer */